verification/*.img
verification/*.bc
verification/*.vpp.c
verification/gen/*
verification/exe/*

cnn_yolo_lite_hw/bin/

*.hex
*.objdump
*.readelf
lib.cnf
*.log
*~

.idea/

srcfiles.txt
TAGS

build*/
build/
cmake-build-*/

nets/*/init/input*.cfg
nets/*/exit/output*.cfg
nets/*/generated/
nets/*/sim_results/
nets/*/emu_results/
nets/*/ref_fixed/
nets/*/ref_float/

runtime/bin/

_lib.cnf

*stash/

*.bin
*.svg
*.txt
nnqtest*

.vscode/
__pycache__/
