data/reference/
data/reference_c/
*.bin

*.bak
*~

*.a
*.mm_init
*.pyc
*.o
*.vpp.c
*.sed.c
*.sim.bin
*.iso
*.bin
*.dump
*.elf
statistic_out.csv
segmentList.csv

*xtl/
*xtensor/

*asm/
*elf/
*obj/

*log.txt

# big image files
*.iso

*bin2img
*img2bin
*vmmf_read
*vmmf_write

# image files
*.bmp
*.bin
*.ora
*.log

# c/c++ temp files
*.preprocessed.sim.cpp
*.o
*.obj
*.tmp
*.out
*.vpp
*.bc
*.elf

build*/
build/
cmake*/
.idea/
archive/
log/
venv/

#preprocessor user project files (qtcreator)
*.user.*
*.user
*.usr

*.tar.gz
*.tar.gz.1
*cmake

*.png
*.bmp
_release/

# CNN files
*.pb
*.weights






verification/*.img
verification/*.bc
verification/*.vpp.c
verification/gen/*
verification/exe/*



